body {
    --green: #48b883;
    --blue: #35495d;
}

.gatsby-highlight {
    background-color: #2d2d2d;
    border-radius: 0.3em;
    margin: 0.5em 0;
    padding: 1em;
    overflow: auto;
}

pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left;
  min-width: calc(100% - 3em);
}

.line-numbers {
  padding-left: 3em;
  padding-right: 1em;  
}

.line-numbers-rows {
  right: calc(100% - 25px);
  left: unset !important;
}

.gatsby-highlight-code-line {
  background-color: #455A64;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
}

code {
    background-color: #f8f8f8;
    color: var(--blue);
}

h2 > code {
  font-size: 1.5rem;
}

a {
  box-shadow: 0 1px 0 0 var(--blue);
}

a:hover {
  box-shadow: none;
}